body {
    background-color: lightcoral;
}

#chat-log {
    background-color: lightcoral;
}

ul {
    position: absolute;
    list-style: none;
    width: 50%;
    overflow-y: scroll;
    max-height: 100%;
    background-color: white;
    font-size: 14px;
    padding: 20px;
    margin-bottom: 100px;
}


/*
	margin: 24px 29px; 
	padding: 28px 28px; 
	overflow-y: scroll;
	display:inline-flex;
	margin: 40px 50px 50px;
	overflow-y: scroll; 
	#chat-body{
	overflow:auto;
	}
*/

#chat-log ul li.them-line {
    background-color: lavender;
    border-width: 1px;
    overflow-wrap: normal;
}

form {
    background-color: #FFF;
    width: 100%;
    bottom: 0px;
    left: 5px;
    right: 5px;
    position: fixed;
    border-collapse: 0px;
}

form #chat-input {
    position: sticky;
    padding: 10px;
    width: 90%;
    margin-right: 5px;
}

form button {
    width: 30%;
    background-color: #55ff98;
    border: none;
    padding: 10px;
}
