body
{
	font-size: 13px;
	font-family: helvetica, arial, sans-serif;
	background-color: #CCC;

}

#chat-log
{
	list-style: none;
	background-color: lightcoral;
	margin: 0px;
	border: solid 1px #000;
	position: absolute;
	width: 100%;
	
}


#chat-log ul{
	background color: #FFF;
	list-style: none;
	margin: 5px;
	padding: 0px;

}
#chat-log ul li.them-line {
	background-color: lavender;
}

form
{
	background-color: #FFF;
	width: 100%;
	bottom: 0px;
	left: 5px;
	right: 5px;
	position:fixed;
}

form #chat-input
{
	position: relative;
	border: none;
	padding: 10px;
	width: 90%;
	margin-right: .5%;
}

form button
{
	width: 9%;
	background-color: #55ff98;
	border:none;
	padding: 10px ;
}