body
{
	font-size: 13px;
	font-family: helvetica, arial, sans-serif;
	background-color: #CCC;
	display: block;
	padding-right: 10px;

}


img
{object-fit: contain;
	break-before: always;
}
 
#chat-log
{
	background: lightcoral none repeat scroll 0 0;
	border: solid 1px;
	width: 100%;
	margin-bottom: 90px;
	position: relative;
	top:0px; bottom: 0px; overflow-y: auto;}

#chat-log ul img;


#chat-log ul{
	position: absolute;
	top: 100px
	bottom: 25px; 
	list-style: none;
	background color: #FFF;
	overflow-y: scroll;
	box-sizing: content-box;



}

img

#chat-log ul li.them-line {
	background-color: lavender;
}

form
{
	background-color: #FFF;
	width: 100%;
	bottom: 0px;
	left: 5px;
	right: 5px;
	position:fixed;
}

form #chat-input
{
	position: relative;
	border: none;
	padding: 10px;
	width: 90%;
	margin-right: .5%;
}

form button
{
	width: 9%;
	background-color: #55ff98;
	border:none;
	padding: 10px ;
}